<!-- <input list=“search-result” [(ngModel)]="searchBox" (keyup)="symbolService($event)" class=“form-control”>
<select [(ngModel)]="selectedCompany" (ngModelChange)="loadData()">
   <option *ngFor="let data of requestedData" [ngValue]="data.companyName"> {{data.companyName}} </option>
</select> -->
<div style="width: 100%; margin-bottom: 20px;">

    <div class="card col-md-10 col-sm-10" style="margin: auto; left: 8%; top: 20%; margin-bottom: 20px;">

        <div class="card-header">

            <div class="autoComplete">
                <div class="icon-container">
                    <img src="../../../assets/images/causalens.png" style="width: 150px; height: 30px">
                </div>
                <div class="multiselect-wrap fileInput" id="ms1">
                        <a class="multiselect-link" id="linkId">
                            <input type="text" class="form-control abc" id="input_id" placeholder="{{inputValue.trim().length >0 ? '' : 'Please Select from drop down'}}" [(ngModel)]="inputValue" autocomplete="off">
                        </a>
                       
                        <ul class="multiselect-list display-none"  id="list">
                            <li *ngFor="let list of array_list">
                                <input type="checkbox" [disabled]="list.disabled ? list.disabled : null" (change)="fetchTargetColumns($event,list)"  id={{list.file_name}} name="checkbox_list"/>
                                <label for={{list.file_name}}>{{list.file_name}}</label>
                            </li>
                        </ul>
                        <input type="button" id="hiddenCheckbox" class="display-none" [(ngModel)]="checkbox_item" #hiddenCheckbox (click)="getChecklist($event)"/>
                        
                    </div>
                  
                <select class='string-column ' [(ngModel)]="targetColumn" *ngIf="selectedSymbol && requestedData.length" (change)="selectedTarget($event)">
                    <option value ="" disabled selected class='default_option'>Target Value</option>
                    <option *ngFor="let value of requestedData" [ngValue]="value">{{value}}</option>
                </select>
                <button class="btn btn-primary buttonChart" (click)="analyzeResult()">Predict</button>
                <a href="#/causalens" class="buttonLogOut" (click)="logOut()">Log Out</a>

                <div class="col-md-4 details" *ngIf="chartConfig.data && !loading">

                    <p-accordion>
                        <p-accordionTab header="Details">
                            <table class="table">
                                <tr>
                                    <td class='fields'>Model Name</td>
                                    <td class='values'>{{modelName}}</td>
                                </tr>
                                <tr>
                                    <td class='fields'>Model Type</td>
                                    <td class='values'>{{modelType}}</td>
                                </tr>
                                <tr>
                                    <td class='fields'>Model Score</td>
                                    <td class='values'>{{modelScore}}</td>
                                </tr>
                                <tr>
                                    <td class='fields'>Testing</td>
                                    <td class='values'>{{testing * 100}}%</td>
                                </tr>
                                <tr>
                                    <td class='fields'>Training</td>
                                    <td class='values'>{{training * 100}}%</td>
                                </tr>

                                <tr>
                                    <td class='fields'>Validation</td>
                                    <td class='values'>{{validation * 100}}%</td>
                                </tr>
                                <tr>
                                    <td class='fields'>Time Frame</td>
                                    <td class='values'>10 Days</td>
                                </tr>

                            </table>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </div>

        <div class="card chart-container" class="col-md-12 col-sm-12" style="padding: 15px">
            <!-- <app-search-bar></app-search-bar> -->
            <section>
                <!-- <app-filters [config]='filterConfig' (childEvent)='symbolService($event)'></app-filters> -->
                <br />
                <section class="loading-container" *ngIf="loading">
                    <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" a
                        nimationDuration=".5s"></p-progressSpinner>
                    <p>Please wait while we analyze the data...</p>
                </section>
                <!-- <p class="lead" *ngIf="!loading && !chartConfig.data" style="width: 100%; margin:auto">Please complete the filter selections from above</p> -->
                <highstock [config]="chartConfig" *ngIf="!loading && chartConfig && chartConfig.data"></highstock>
            </section>
        </div>
        <div class="card-footer small text-muted gadget-name" *ngIf="selectedSymbol && !loading && gadgetName.trim().length>1">Data Source :
            {{gadgetName}}</div>
    </div>

    <div>
        <div class="col-md-4 c col-md-offset-4 text-center error " *ngIf="errormsg">
            {{errormsg}}
        </div>
    </div>


</div>

<div class='prediction-table' *ngIf="chartConfig.data && !loading">
    <table class='pred-table' *ngIf="prediction_array">
        <caption class='table-title'>{{ chartConfig.data.actual.metaData.Symbol}} - Timeseries prediction values for {{ targetColumnFlag }}</caption>
        <thead>
            <tr>
                <th>Date</th>
                <th>Prediction ({{targetColumnFlag}})</th>
            </tr>
        </thead>
        <tr *ngFor="let data of prediction_array">
            <td *ngIf="dateFlag">{{data.date | dataConverter}}</td>
            <td *ngIf="!dateFlag">{{data.date | dateConverterIntraday}}</td>
            <td>{{data.value["target_value"]}}</td>
        </tr>
    </table>
</div>