.autoComplete {
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* display: block; */
    /* justify-content: center */
    /* margin: auto; */
    /* position: absolute; */
    /* top: 50%; */
    display: flex;
    /* margin: auto; */
    /* width: 100%; */
    justify-content: center;
}

.ui-autocomplete .ui-autocomplete-input {
    padding: 0.429em !important;
    border-radius: 25px !important;
    width: 400px !important;
    height: 50px !important;
}

/* body > app-root > app-alphadashboard > div > div > p-autocomplete > span > input {
    padding: 1px !important;
    border-radius: 25px !important;
    width: 400px !important;
    height: 50px !important;
} */
/* body > app-root > app-alphadashboard > div > div > p-autocomplete > span > input[type="text"] */

.card {
    border-radius: 8px;
    padding: 0px;
}

.card-header {
    /* padding: 0.75rem 1.25rem; */
    margin-bottom: 0;
    padding: 20px;
    color: inherit;
    background-color: #343a40 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px 10px 0 0;
    position: relative;
}

.card-footer {
    /* padding: 0.75rem 1.25rem; */
    /* background-color: #5099e2 !important; */
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 10px 10px;
}

.buttonChart {
    border-radius: 0 20px 20px 0;
}

.icon-container {
    position: absolute;
    left: 3%;
    padding: 5px;
}

.loading-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* causalens css starts */
.target-column {
    float: right;
}
.ui-float-label input {
    border-radius: 30px;
    padding: 10px;
}
.ui-float-label {
    left: 40px;
}
.string-column {
    border: none;
    padding: 10px;
}
.fileInput {
    padding: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    min-width: 300px;
}
.buttonLogOut {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 16px;
    color: #ccc;
}
.buttonLogOut:hover {
    text-decoration: none;
    color: #fff;
}
select option[disabled] {
    display: none;
}
.error {
    color: red;
}
.details {
    position: absolute;
    top: 108px;
    right: 8%;
    cursor: pointer;
    z-index: 1000;
    padding: 5px !important;
    width: 280px;
    text-align: center;
}
.details .table {
    text-align: left;
}
.fields {
    width: 50%;
}
.values {
    width: 50%;
    word-break: break-all;
}
.gadget-name {
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    padding: 10px;
}

.prediction-table {
    margin: 0 auto;
    max-width: 28%;
    text-align: center;
    clear: both;
}
.pred-table {
    color: #4a4a4d;
    font: 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.pred-table th,
.pred-table td {
    padding: 10px 15px;
    vertical-align: middle;
    text-align: center;
}
.pred-table thead {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}
.pred-table th {
    font-weight: bold;
}
.pred-table tbody tr:nth-child(even) {
    background: #f0f0f2;
}
.pred-table td {
    border-bottom: 1px solid #cecfd5;
}
.pred-table td:first-child {
    border-left: 1px solid #cecfd5;
}
.pred-table tr {
    border: 1px solid #dbdbdb;
}
.pred-table tbody tr:hover {
    background: linear-gradient(#49708f, #293f50);
    color: white;
}
.pred-table .table-title {
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
}

/* multiselect css  */

.multiselect-wrap {
    width: 300px;
    padding: 0;
}

.multiselect-wrap {
    position: relative;
}

.multiselect-link {
    text-decoration: none;
    color: #333;
    padding: 10px 40px 10px 10px;
    background: white;
    position: relative;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 24px;
}
.multiselect-link::after {
    content: '\f0d7';
    font-family: 'fontawesome';
    position: absolute;
    right: 10px;
    top: 50%;
    transition: all 0.3s ease;
    transform: translateY(-50%) rotate(0);
}
.multiselect-link.open::after {
    transform: translateY(-50%) rotate(180deg);
}

.multiselect-list {
    margin: 0;
    padding: 0;
    list-style: none;
    background: white;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border-top: 1px solid #dfdfdf;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 300px;
    z-index: 10000;
}

.multiselect-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background: transparent;
    transition: all 0.3s ease;
}
.multiselect-list li:hover {
    background: #f1f1f1;
}

.multiselect-list li input {
    cursor: pointer;
}
.displa-block {
    display: block;
}
.display-none {
    display: none;
}
#input_id {
    border: none;
    box-shadow: none;
    padding: 0;
}

/* checkbox css starts */
input[type='checkbox'] + label {
    position: relative;
    text-indent: -2.1em;
    padding-left: 2.4em;
}

input[type='checkbox'] + label::before {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: #f2f2f2;
    border: 3px solid black;
    border-radius: 4px;
    content: '';
    text-indent: 0;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

input[type='checkbox']:checked + label::before {
    background: white;
    border: 3px solid black;
}

/* style checkmark symbol */
input[type='checkbox']:checked + label::after {
    width: 13px;
    height: 6px;
    content: '';
    border-left: 2px solid #004466;
    border-bottom: 2px solid #004466;
    top: 0.6rem;
    left: 0.8rem;
    position: absolute;
    transform: rotate(-45deg);
}

input[type='checkbox'] {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
input[type='checkbox']:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}
