<!-- <input list=“search-result” [(ngModel)]="searchBox" (keyup)="symbolService($event)" class=“form-control”>
<select [(ngModel)]="selectedCompany" (ngModelChange)="loadData()">
   <option *ngFor="let data of requestedData" [ngValue]="data.companyName"> {{data.companyName}} </option>
</select> -->
<div class="container-fluid" style="margin-top:2em;">
    <div class="row">
        <div class="toggle_radio">
            <input type="radio" (click)='onComponentChange("stocksToggle")' checked class="toggle_option"
                id="first_toggle_comp" name="toggle_option_comp">
            <input type="radio" (click)='onComponentChange("futuresToggle")' class="toggle_option" id="second_toggle_comp"
                name="toggle_option_comp">
            <label for="first_toggle_comp">
                <p>Stocks</p>
            </label>
            <label for="second_toggle_comp">
                <p>Futures</p>
            </label>
            <div class="toggle_option_slider">
            </div>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
        <div class="card col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 align-self-center">
            
            <div class="card-header" *ngIf="componentToggle === 'stocksToggle'">
    
                <div class="autoComplete">
                    <div class="icon-container">
                        <img src="../../assets/images/tickdata1.png" style="width: 150px; height: 30px">
                    </div>
                    <p-autoComplete class="test" [(ngModel)]="searchBox" [suggestions]="requestedData?.symbols"
                        (completeMethod)="stocksSymbolService($event)" field="companyName" class=“form-control”
                        (onSelect)="onStocksSelect($event)" placeholder="Enter company name">
                        <ng-template let-test pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div style="font-size:14px;float:left; margin-top: 10px">{{ test?.companyName }}</div>
                                <div style="font-size:14px;float:right; margin-top: 10px">{{ test?.symbol }}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <input type="number"  [(ngModel)]="timeframe"  min="0" max ="500" [value]="timeframe" (change)="timeFrameValue()"  *ngIf="searchBox && selectedSymbol">
                    
                    <button class="btn btn-primary buttonChart" (click)="loadStocksData()">Go</button>
                    <a href="#/tick" class="buttonLogOut" (click)="logOut()">Log Out</a>
    
                    <button type="button" (click)="showDialog()" pButton label="Discover"
                        *ngIf="chartConfig.data" class="recipe"></button>
               </div>
            </div>
            <div   *ngIf="display && componentToggle === 'stocksToggle'"  style="PADDING: 1%;" class="ng-star-inserted"> 
                <div style="margin:auto" class="text-center">Discovered Gadgets</div>
                <div (click)="sendStocksDataToCausalens()" class="recipe-btn"  >
                        <img border="0" alt="W3Schools" src="../../assets/images/causa.png" width="82" height="60" class="img-gadgets">
                        <b style="padding: 4px;">CAUSALENS</b>
                </div> 
            </div>

            <div class="card-header" *ngIf="componentToggle === 'futuresToggle'">
                <div class="autoComplete">
                    <div class="icon-container">
                        <img src="../../assets/images/tickdata1.png" style="width: 150px; height: 30px">
                    </div>
                    <p-autoComplete class="test" [(ngModel)]="searchBoxFuture" [suggestions]="requestedData?.futures"
                        (completeMethod)="futuresSymbolService($event)" field="description" class=“form-control”
                        (onSelect)="onFuturesSelect($event)" placeholder="Enter Futures name">
                        <ng-template let-test pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div style="font-size:14px;float:left; margin-top: 10px">{{ test?.description }}</div>
                                <div style="font-size:14px;float:right; margin-top: 10px">{{ test?.value }}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <input type="number"  [(ngModel)]="timeframe"  min="0" max ="500" [value]="timeframe" (change)="timeFrameValue()"  *ngIf="searchBoxFuture && selectedSymbol">
                    
                    <button class="btn btn-primary buttonChart" (click)="loadFuturesData()">Go</button>
                    <a href="#/tick" class="buttonLogOut" (click)="logOut()">Log Out</a>
    
                    <button type="button" (click)="showDialog()" pButton label="Discover"
                        *ngIf="chartConfig.data" class="recipe"></button>
                    
                </div>
            </div>
            <div   *ngIf="display && componentToggle === 'futuresToggle'"  style="PADDING: 1%;" class="ng-star-inserted"> 
                <div style="margin:auto" class="text-center">Discovered Gadgets</div>
                <div (click)="sendFuturesDataToCausalens()" class="recipe-btn"  >
                        <img border="0" alt="W3Schools" src="../../assets/images/causa.png" width="82" height="60" class="img-gadgets">
                        <b style="padding: 4px;">CAUSALENS</b>
                </div> 
            </div>

            <div class="card chart-container" class="col-md-12 col-sm-12">
                <!-- <app-search-bar></app-search-bar> -->
                <section>
                    <!-- <app-filters [config]='filterConfig' (childEvent)='symbolService($event)'></app-filters> -->
                    <br />
                    <section class="loading-container" *ngIf="loading">
                        <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE"
                            animationDuration=".5s"></p-progressSpinner>
                        <p>Generating graph...</p>
                    </section>
                    <p class="lead" *ngIf="!loading && !chartConfig.data" style="width: 100%; margin:auto ; font-size:18px">Please complete
                        the filter selections from above and hit "<span class="text-bold">Go</span>"</p>
                    <highstock [config]="chartConfig" *ngIf="!loading && chartConfig && chartConfig.data"></highstock>
                </section>
            </div>
            <div class="card-footer small text-muted">.</div>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
    </div>
    <div class="row">
        <div class="col-md-4 c col-md-offset-4 text-center error " *ngIf="errormsg">
                {{errormsg}}
        </div>
    </div>
    
    </div>
    
    