<div [ngClass]="lineChecked ? 'search-wrapper' : 'search-wrapper active'" >
  <div class="input-holder">
      <input list=“search-result” [(ngModel)]="searchBox" (keyup)="symbolService($event)"
       type="text" class="search-input" placeholder="Type to search" />
      <button class="search-icon" (click)="searchToggle(this, event)"><span></span></button>
  </div>
  <span class="close" (click)="searchToggle(this, event);"></span>
</div>
<div class="dropDownList">
  <span *ngFor="let dropDownContent of requestedData "> {{ dropDownContent?.companyName }}</span>
</div>