<div class="icon-container alpha-icon">
  <img src="../../assets/images/tickdata1.png" style="width: 150px; height: 30px">
</div>
<div class="login">
  <form>
      <p>
          <span class="fontawesome-envelope"></span>
          <input type="email" placeholder="Email" autocomplete="off" [(ngModel)]="email" name="email" />
      </p>
      <p>
          <span class="fontawesome-lock"></span>
          <input type="password" name="password" id="password-alpha" placeholder="Password" [(ngModel)]="password"
              autocomplete="off" />
      </p>
      <input type="submit" value="Sign In" (click)="login()" />
  </form>
</div>