<!-- <div class="toggles-container">
            <div>
                <p style="color: black; margin-right: 10px">Type: {{lineChecked ? 'Line' : 'Candlestick'}}</p>
            </div>
            <div>

                <p-inputSwitch [(ngModel)]="lineChecked" (onChange)="onTypeChange($event)"></p-inputSwitch>
            </div>
        </div> -->

<!-- <div class= "mds-radio-slider">
            <input type= "radio" class= "mds-radio-option">
        </div> -->

<div class="wrapper">
    <div class="toggle_radio"  *ngIf="selectedChartType && selectedChartType !== 'causalens'">
        <input type="radio" (click)="onTypeChange('line')" checked class="toggle_option" id="first_toggle" name="toggle_option">
        <input type="radio"  (click)="onTypeChange('candlestick')" class="toggle_option" id="second_toggle" name="toggle_option">
        <!-- <input type="radio" class="toggle_option" id="third_toggle" name="toggle_option"> -->
        <label for="first_toggle">
            <p>Line</p>
        </label>
        <label for="second_toggle">
            <p>CandleStick</p>
        </label>
        <!-- <label for="third_toggle"><p>Third Button</p></label> -->
        <div class="toggle_option_slider">
        </div>
    </div>

    <!-- <div id="hp-ctn-howItWorks" (click)="onTypeChange()"  style="cursor: pointer">
            <p>{{ showData }}</p> -->
    <!-- <img src="~/Content/images/ui-symb-arrow-left-white-15x15.png" width="15" height="15" /> -->
    <!-- </div> -->

    <div #chartDivContainer></div>