.chart-container {
    width: 100%;
    padding: 20px;
}

.toggles-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    margin: auto;
    margin-top: 10px;
}

.card {
    border-radius: 8px;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #343a40 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px 10px 0 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    /* background-color: #5099e2 !important; */
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 10px 10px;
}

.selected {
    font-weight: bold;
}
.unselected {
    opacity: 0.8;
}

/* ................. */
* {
    margin: 0;
    padding: 0;
}
#hp-ctn-howItWorks img {
    vertical-align: middle;
}
#hp-ctn-howItWorks {
    padding: 0px 0px 0px 0px;
    text-align: center;
    margin: 0px;
    width: 160px;
    height: 40px;
    background: #286090;
    z-index: 15;
    border-radius: 0px 0px 5px 5px;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform-origin: bottom right;
    position: fixed;
    right: 5%;
}
#hp-ctn-howItWorks p {
    color: #fff;
    display: inline-block;
    line-height: 40px;
}

/* ................................................ */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

.toggle_radio {
    color: white;
    position: relative;
    background: #343a40;
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 26px;
    width: 212px;
}
.toggle_radio > * {
    float: left;
}
.toggle_radio input[type='radio'] {
    display: none;
    /*position: fixed;*/
}
.toggle_radio label {
    font: 90%/1.618 'Source Sans Pro';
    /* color: rgba(255,255,255,.9); */
    z-index: 0;
    display: block;
    width: 100px;
    height: 20px;
    margin: 3px 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    /*margin: 0 2px;*/
    /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider {
    /*display: none;*/
    /*background: red;*/
    width: 100px;
    height: 20px;
    position: absolute;
    top: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#first_toggle:checked ~ .toggle_option_slider {
    background: rgba(255, 255, 255, 0.5);
    left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider {
    background: rgba(255, 255, 255, 0.5);
    left: 109px;
}
#third_toggle:checked ~ .toggle_option_slider {
    background: rgba(255, 255, 255, 0.3);
    left: 215px;
}
