@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

body {
    background: #1b1e24;
    background-image: -webkit-linear-gradient(right, #1b1e24, #1b1e24 50%, #1b1e24);
    background-image: -moz-linear-gradient(right, #1b1e24, #1b1e24 50%, #1b1e24);
    background-image: -o-linear-gradient(right, #1b1e24, #1b1e24 50%, #1b1e24);
    background-image: -ms-linear-gradient(right, #1b1e24, #1b1e24 50%, #1b1e24);
    background-image: linear-gradient(to left, #1b1e24, #1b1e24 50%, #1b1e24);
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}

[class*='fontawesome-']:before {
    font-family: 'FontAwesome', sans-serif;
}
.causa-icon {
    margin: 2% auto;
    padding-top: 40px;
    text-align: center;
}
form {
    position: relative;
    text-align: center;
}
input {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

.signin-causalens {
    margin: 50px auto;
    width: 400px;
}
.signin-causalens span {
    color: black;
    display: block;
    height: 48px;
    line-height: 48px;
    position: absolute;
    width: 36px;
    left: 10px;
    text-align: center;
}

.signin-causalens input {
    border: none;
    height: 48px;
    outline: none;
    border-radius: 25px;
    min-width: 100px;
}

.signin-causalens input[type='email'],
.signin-causalens input[type='password'] {
    background-color: #fff;
    border: 1px solid #343a40;
    border-radius: 25px;
    color: #363636;
    padding-left: 50px;
    width: 400px;
    margin-bottom: 20px;
}

.signin-causalens input[type='submit'] {
    background-color: #343a40;
    border: 1px solid #343a40;
    border-radius: 25px;
    color: #fff;
    line-height: 48px;
    text-transform: uppercase;
    width: 400px;
    margin-top: 10px;
}

.signin-causalens input[type='submit']:hover {
    background-color: #343a40;
    box-shadow: 2px 2px 4px #343a40, #fff 0 -1px 2px;
}

p:hover {
    text-shadow: 2px 2px 20px #343a40, #fff 0 -1px 2px;
}
