<div class="icon-container causa-icon">
        <img src="../../assets/images/causalens.png" style="width: 150px; height: 30px">
</div>
<div class="signin-causalens">
    <form>
        <p>
            <span class="fontawesome-envelope"></span>
            <input type="email" ngPattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required placeholder="Email" autocomplete="off"
            [(ngModel)]="email_causalens" name="email_causalens" />
        </p>
        <p>
            <span class="fontawesome-lock"></span>
            <input type="password" name="password_causalens" id="password-causalens" required placeholder="Password" [(ngModel)]="password_causalens"
            autocomplete="off" />
        </p>
        <input type="submit" value="Sign In" (click)="signin()" />
    </form>
</div>