/* You can add global styles to this file, and also import other style files */
@import '~bootstrap3/dist/css/bootstrap.min.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~font-awesome/css/font-awesome.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    padding: 15px;
    background: #f2f2f2 !important;
    padding: 0;
}

.flex {
    display: flex;
}

.card {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* You can add global styles to this file, and also import other style files */

/* Header css starts */
.header-wrapper {
    border-top: 5px solid black;
    background-color: #2c3e50;
    padding: 20px 80px 20px 80px;
}
.header-container {
    overflow: auto;
}
.logo {
    float: left;
}
.navbar {
    float: right;
    margin-bottom: 0;
    padding-top: 10px;
}
.nav-list {
    list-style-type: none;
}
.nav-list li {
    display: inline-block;
}
a.nav-link {
    text-decoration: none;
    color: #707b7c;
    padding-left: 50px;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
a.nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}
.logo-image {
    background-image: url('./../../assets/images/rogo.svg');
    display: inline-block;
    height: 40px;
    width: 200px;
    background-repeat: no-repeat;
}
.navbar-toggler {
    display: none;
}
/* Header css ends */
/* Footer css starts */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    background-color: #2c3e50;
    color: white;
    padding-top: 20px;
}
.footer-copyright {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #707b7c;
}
.footer-copyright a {
    color: #fff;
}
.list-unstyled li {
    padding: 10px;
    text-align: left;
}
.list-unstyled li a {
    text-decoration: none;
    color: #707b7c;
    font-weight: bold;
}
.list-inline {
    text-align: left;
    font-size: 2em;
    padding-left: 3px;
}
.list-unstyled li a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}
.footer-links h5 {
    text-align: left;
    padding-left: 10px;
}
/* Footer css ends */

.ui-autocomplete .ui-autocomplete-input {
    padding: 1.5em !important;
    border-radius: 20px 0 0 20px !important;
    width: 300px !important;
    height: 20px !important;
}

body .pi {
    display: none;
}
