<!-- <input list=“search-result” [(ngModel)]="searchBox" (keyup)="symbolService($event)" class=“form-control”>
<select [(ngModel)]="selectedCompany" (ngModelChange)="loadData()">
   <option *ngFor="let data of requestedData" [ngValue]="data.companyName"> {{data.companyName}} </option>
</select> -->
<div class="container-fluid" style="margin-top:2em;">
    <div class="row">
        <div class="toggle_radio">
            <input type="radio" (click)='onComponentChange("stocksToggle")' checked class="toggle_option"
                id="first_toggle_comp" name="toggle_option_comp">
            <input type="radio" (click)='onComponentChange("forexToggle")' class="toggle_option" id="second_toggle_comp"
                name="toggle_option_comp">
            <input type="radio" (click)='onComponentChange("cryptoToggle")' class="toggle_option"
                id="third_toggle_comp" name="toggle_option_comp">
            <label for="first_toggle_comp">
                <p>Stocks</p>
            </label>
            <label for="second_toggle_comp">
                <p>Foreign Exchange</p>
            </label>
            <label for="third_toggle_comp">
                <p>CryptoCurrency</p>
            </label>

            <div class="toggle_option_slider">
            </div>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
        <div class="card col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 align-self-center">

            <div class="card-header" *ngIf="componentToggle === 'stocksToggle'">

                <div class="autoComplete">
                    <div class="icon-container">
                        <img src="../../../assets/images/alpha.png" style="width: 150px; height: 30px">
                    </div>
                    <p-autoComplete class="test" [(ngModel)]="searchBox" [suggestions]="requestedData?.bestMatches"
                        (completeMethod)="stocksSymbolService($event)" field="name" class=“form-control”
                        (onSelect)="onStocksSelect($event)" placeholder="Enter company name">
                        <ng-template let-test pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div style="font-size:14px;float:left; margin-top: 10px">{{ test?.name }}</div>
                                <div style="font-size:14px;float:right; margin-top: 10px">{{ test?.symbol }}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <select [(ngModel)]="timeframe" *ngIf="searchBox && selectedSymbol">
                        <option>
                            DAILY
                        </option>
                        <option>
                            WEEKLY
                        </option>
                        <option>
                            MONTHLY
                        </option>
                        <option>
                            INTRADAY
                        </option>
                    </select>
                    <select [(ngModel)]="timeinterval" *ngIf="timeframe === 'INTRADAY'">
                        <option>
                            ONE_MINUTE
                        </option>
                        <option>
                            FIVE_MINUTES
                        </option>
                        <option>
                            FIFTEEN_MINUTES
                        </option>
                        <option>
                            THIRTY_MINUTES
                        </option>
                        <option>
                            SIXTY_MINUTES
                        </option>
                    </select>
                    <button class="btn btn-primary buttonChart" (click)="loadStocksData()">Go</button>
                    <a href="#" class="buttonLogOut" (click)="logOut()">Log Out</a>

                    <button type="button" (click)="showDialog()" pButton label="Discover"
                        *ngIf="chartConfig.data" class="recipe"></button>
                      

                </div>
            </div>
            
            <div    *ngIf="display && componentToggle === 'stocksToggle'"  style="PADDING: 1%;" class="ng-star-inserted"> 
                <div style="margin:auto" class="text-center">Discovered Gadgets</div>
                <div (click)="sendStocksDataToCausalens()" class="recipe-btn"  >
                     <img border="0" alt="W3Schools" src="../../../assets/images/causa.png" width="82" height="60" class="img-gadgets">
                     <b style="padding: 4px;">CAUSALENS</b>
                </div> 
            </div>
        
            <div class="card-header" *ngIf="componentToggle === 'forexToggle'">
                <div class="autoComplete">
                    <div class="icon-container">
                        <img src="../../../assets/images/alpha.png" style="width: 150px; height: 30px">
                    </div>
                    <select class='currency currency-from' [(ngModel)]="cur_from"
                        (change)="selectedFromCurrency($event)">
                        <option value="" disabled selected class='default_option'>From Currency</option>
                        <option *ngFor="let currency of currencyData" [value]="currency.currency_code">
                            {{currency.currency_code}} {{currency.currency_name}}</option>
                    </select>
                    <select class='currency currency-to' [(ngModel)]="cur_to" (change)="selectedToCurrency($event)">
                        <option value="" disabled selected class='default_option'>To Currency</option>
                        <option *ngFor="let currency of currencyData" [value]="currency.currency_code">
                            {{currency.currency_code}} {{currency.currency_name}}</option>
                    </select>
                    <select [(ngModel)]="curtimeframe" *ngIf="cur_from && cur_to">
                        <option>
                            DAILY
                        </option>
                        <option>
                            WEEKLY
                        </option>
                        <option>
                            MONTHLY
                        </option>
                        <option>
                            INTRADAY
                        </option>
                    </select>
                    <select [(ngModel)]="curtimeinterval" *ngIf="curtimeframe === 'INTRADAY'">
                        <option>
                            ONE_MINUTE
                        </option>
                        <option>
                            FIVE_MINUTES
                        </option>
                        <option>
                            FIFTEEN_MINUTES
                        </option>
                        <option>
                            THIRTY_MINUTES
                        </option>
                        <option>
                            SIXTY_MINUTES
                        </option>
                    </select>

                    <button class="btn btn-primary buttonChart" (click)="loadForexData()">Go</button>
                    <a href="#" class="buttonLogOut" (click)="logOut()">Log Out</a>

                    <button type="button" (click)="showDialog()" pButton label="Discover"
                        *ngIf="chartConfig.data" class="recipe"></button>
                     
                  
                </div>
            </div>
            <div   *ngIf="display && componentToggle === 'forexToggle'"  style="PADDING: 1%;" class="ng-star-inserted"> 
                <div style="margin:auto" class="text-center">Discovered Gadgets</div>
                <div (click)="sendForexDataToCausalens()" class="recipe-btn"  >
                        <img border="0" alt="W3Schools" src="../../../assets/images/causa.png" width="82" height="60" class="img-gadgets">
                        <b style="padding: 4px;">CAUSALENS</b>
                </div> 
            </div>
            <div class="card-header" *ngIf="componentToggle === 'cryptoToggle'">

                <div class="autoComplete">
                    <div class="icon-container">
                        <img src="../../../assets/images/alpha.png" style="width: 150px; height: 30px">
                    </div>
                    
                    <p-autoComplete class="test" [(ngModel)]="cryptoSearchSuggestion" [suggestions]="requestedData?.cryptoCurrencies"
                        (completeMethod)="cryptoSymbolService($event)" field="currencyName" class=“form-control”
                        (onSelect)="onCryptoSelect($event)" placeholder="Enter company name">
                        <ng-template let-test pTemplate="item">
                            <div class="ui-helper-clearfix">
                            	<div style="font-size:14px;float:left; margin-top: 10px">{{ test?.currencyName }}</div>
                                <div style="font-size:14px;float:right; margin-top: 10px">{{ test?.currencyCode }}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <select [(ngModel)]="cryptoTimeFrame" *ngIf="cryptoSearchSuggestion && selectedSymbol">
                        <option>
                            DAILY
                        </option>
                        <option>
                            WEEKLY
                        </option>
                        <option>
                            MONTHLY
                        </option>
                    </select>
                    <button class="btn btn-primary buttonChart" (click)="loadCryptoData()">Go</button>
                    <a href="#" class="buttonLogOut" (click)="logOut()">Log Out</a>

                    <button type="button" (click)="showDialog()" pButton label="Discover"
                        *ngIf="chartConfig.data" class="recipe"></button>
                </div>
            </div>
            <div   *ngIf="display && componentToggle === 'cryptoToggle'"  style="PADDING: 1%;" class="ng-star-inserted"> 
                <div style="margin:auto" class="text-center">Discovered Gadgets</div>
                <div (click)="sendCryptoDataToCausalens()"class="recipe-btn"  >
                        <img border="0" alt="W3Schools" src="../../../assets/images/causa.png" width="82" height="60" class="img-gadgets">
                        <b style="padding: 4px;">CAUSALENS</b>
                </div> 
            </div>
            <div class="card chart-container" class="col-md-12 col-sm-12">
                <!-- <app-search-bar></app-search-bar> -->
                <section>
                    <!-- <app-filters [config]='filterConfig' (childEvent)='symbolService($event)'></app-filters> -->
                    <br />
                    <section class="loading-container" *ngIf="loading">
                        <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE"
                            animationDuration=".5s"></p-progressSpinner>
                           
                        <p>Generating graph...</p>
                    </section>
                    <p class="lead" *ngIf="!loading && !chartConfig.data" style="width: 100%; margin:auto ; font-size:18px ">Please
                        complete
                        the filter selections from above and hit "<span class="text-bold">Go</span>"</p>
                    <highstock [config]="chartConfig" *ngIf="!loading && chartConfig && chartConfig.data"></highstock>
                    
                </section>
            </div>
            <div class="card-footer small text-muted">.</div>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
    </div>
    <div class="row">
        <div class="col-md-4 c col-md-offset-4 text-center error " *ngIf="errormsg">
                {{errormsg}}
        </div>
    </div>

</div>

