.autoComplete {
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* display: block; */
    /* justify-content: center */
    /* margin: auto; */
    /* position: absolute; */
    /* top: 50%; */
    display: flex;
    /* margin: auto; */
    /* width: 100%; */
    justify-content: center;
}

.ui-autocomplete .ui-autocomplete-input {
    padding: 0.429em !important;
    border-radius: 25px !important;
    width: 400px !important;
    height: 50px !important;
}

/* body > app-root > app-alphadashboard > div > div > p-autocomplete > span > input {
    padding: 1px !important;
    border-radius: 25px !important;
    width: 400px !important;
    height: 50px !important;
} */
/* body > app-root > app-alphadashboard > div > div > p-autocomplete > span > input[type="text"] */

.card {
    border-radius: 8px;
    padding: 0px;
}

.card-header {
    /* padding: 0.75rem 1.25rem; */
    margin-bottom: 0;
    padding: 20px;
    color: inherit;
    background-color: #343a40 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px 10px 0 0;
    position: relative;
}

.card-footer {
    /* padding: 0.75rem 1.25rem; */
    /* background-color: #5099e2 !important; */
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 10px 10px;
}

.buttonChart {
    border-radius: 0 20px 20px 0;
}
.buttonLogOut {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 16px;
    color: #ccc;
}
.buttonLogOut:hover {
    text-decoration: none;
    color: #fff;
}
.text-bold {
    font-weight: 500;
}
.icon-container {
    position: absolute;
    left: 3%;
    padding: 5px;
}

.loading-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recipe {
    position: absolute;
    top: 93px;
    right: 2%;
    cursor: pointer;
    z-index: 1000;
    border-radius: 10px;
    background-color: #337ab7;
    font-weight: bold;
    padding: 5px !important;
}
.gadget {
    position: absolute;
    top: 535px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
}
.recipe:hover {
    background-color: #204d74;
}

.gadget:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0);
}

.no-padding {
    padding: 0 !important;
}

.toggle_radio {
    color: white;
    position: relative;
    background: #343a40;
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 26px;
    width: 320px;
}
.toggle_radio > * {
    float: left;
}
.toggle_radio input[type='radio'] {
    display: none;
    /*position: fixed;*/
}
.toggle_radio label {
    font: 90%/1.618 'Source Sans Pro';
    /* color: rgba(255,255,255,.9); */
    z-index: 0;
    display: block;
    width: 100px;
    height: 20px;
    margin: 3px 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    font-size: 12px;
    /*margin: 0 2px;*/
    /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider {
    /*display: none;*/
    /*background: red;*/
    width: 100px;
    height: 20px;
    position: absolute;
    top: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#first_toggle_comp:checked ~ .toggle_option_slider {
    background: rgba(255, 255, 255, 0.5);
    left: 3px;
}
#second_toggle_comp:checked ~ .toggle_option_slider {
    background: rgba(255, 255, 255, 0.5);
    left: 109px;
}
#third_toggle_comp:checked ~ .toggle_option_slider {
    background: rgba(255, 255, 255, 0.3);
    left: 215px;
}

.currency {
    padding: 12px;
    max-width: 200px;
}
.currency-from {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

select option[disabled] {
    display: none;
}

.error {
    color: red;
}

.btn-custom-5:hover,
.btn-custom-5:focus,
.btn-custom-5:active,
.btn-custom-5.active {
    background: #fff;
    border-color: #fff;
    color: #000;
}

/* Button size */

.btn-lg,
.btn-group-lg > .btn {
    padding: 12px 30px;
    font-size: 18px;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 6px 25px;
    font-size: 11px;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 5px 25px;
    font-size: 10px;
}

.btn .icon-before {
    margin-right: 6px;
}

.btn .icon-after {
    margin-left: 6px;
}

.btn .icon-after,
.btn .icon-before {
    font-size: 12px;
}

.btn-list .btn {
    margin-bottom: 5px;
}
.btn {
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 0.7 !important;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    outline: inherit !important;
}

.btn-custom-1 {
    background: transparent;
    border: 1px solid #000;
    color: #000;
}

.btn-custom-1:hover,
.btn-custom-1:focus,
.btn-custom-1:active,
.btn-custom-1.active {
    background: #000;
    border-color: #000;
    color: #fff;
}

.btn-custom-2 {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn-custom-2:hover,
.btn-custom-2:focus,
.btn-custom-2:active,
.btn-custom-2.active {
    background: #fff;
    border-color: #fff;
    color: #000;
}

.btn-custom-4 {
    background: transparent;
    border: 1px solid rgba(105, 101, 101, 0.59);
    color: #fff;
}

.btn-back {
    background-color: #00000075;
}
.discovery-tab {
    border-radius: 10px;
    padding: 2%;
}
.recipe-btn:hover {
    cursor: pointer;
    border: 1px solid black;
    width: 84px;
    /* padding: 4px; */
    font-size: 13px;
    background: #337ab7;
    border-radius: 8px;
    padding-bottom: 10px;
    color: white;
    box-shadow: 5px 5px 12px #aaaaaa;
}
/* .recipe-int:hover{
    border-radius: 50px;
    padding: 13px;
    margin-left: 15px;
} */

.recipe-btn {
    width: 84px;
    /* padding: 4px; */
    font-size: 13px;
    cursor: pointer;
    border-radius: 8px;
    padding-bottom: 10px;
    border: 1px solid black;
}
.img-gadgets {
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid white;
}
.black {
    color: #000;
}
.recipe-int {
    border-radius: 50px;
    padding: 13px;
    margin-left: 15px;
}
