.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item {
    margin: 15px;
    border: 1px solid #dadadb;
}

.json-textarea {
    height: 99%;
    width: 100%;
}

.width-60 {
    width: 60%;
}

.width-80 {
    width: 80%;
}

.width-20 {
    width: 20%;
    text-align: center;
}

.json {
    height: 800px;
    overflow: auto;
}

.graph {
    height: 400px;
}
