<section class="chart-container">
    <div class="item width-60 json">
        <textarea class="json-textarea" cols=50 rows=10 placeholder="Paste your JSON here" [(ngModel)]="jsonInput"></textarea>
    </div>
    <div class="item width-20">
        <select name="chartType" id="chartType" class="form-control" [(ngModel)]="chartType">
            <option *ngFor="let type of chartTypes" [value]="type">{{ type }}</option>
        </select>
    </div>
    <div class="item width-20">
        <input type="submit" value="Test" (click)="generateGraph()" />
    </div>
    <div class="item width-80 graph">
        <highstock [config]="chartConfig"></highstock>
    </div>
</section>