<section class="card">
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <div class="icon-container">
                <img src="{{config.image}}" style="width: 150px; height: 30px" *ngIf="config.image">
            </div>
        </div>
        <div class="col-md-1 col-sm-12"></div>
        <div class="col-md-9 col-sm-12">
                <div class="select-editable dropdown col-md-2">
                        <!-- <input list=“search-result” [(ngModel)]="searchBox"(keyup)="searchValue($event)"
                            class=“form-control”> -->
                           
   
                    </div>
            <!-- <div *ngFor='let filter of config.filters.reverse()'>
                <div class="pull-right" style="margin-right: 20px">
                    <ng-container *ngIf="filter.type === 'dropdown'">
                        <p>{{filter.name}}:</p>
                        <p-dropdown [options]="filter.options" [(ngModel)]="filter.selectedValue" optionLabel="name"></p-dropdown>
                    </ng-container>
                    <ng-container *ngIf="filter.type === 'date'">
                        <p>{{filter.name}}:</p>
                        <p-calendar [(ngModel)]='filter.selectedValue'></p-calendar>
                    </ng-container>
                </div>
            </div> -->
        </div>
    </div>
</section>